<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="functions.js"></script>
<header><h2 align="center">Calculator</h2></header>

<div>
<article>
 <div class="container">
 
  <form action="/index" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
      <label>Enter Numbers</label>
      <input type="number" class="form-control" name="firstnum" id="firstnumber" placeholder="Enter First Number">
    </div>
    <div class="form-group">
      
      <input type="number" class="form-control" name="secondnum" id="secondnumber" placeholder="Enter Second Number">
    </div>
<button type="button" value="add" class="btn btn-primary" onclick="add()">Addition</button>
<button type="button"  value="subtract"class="btn btn-primary" onclick="subtract()">Subtraction</button>
<button type="button" value="multiply"class="btn btn-primary" onclick="multiply()">Multiplication</button>
<button type="button" value="divide"class="btn btn-primary" onclick="divide()">Division</button>
<p><label>Result</label></p>
<input type="number" class="form-control" name="result" id="result" placeholder="Result">

  </form>
</div>

</article>



</div>

</body>
</html>